body {
    font-family: 'Roboto Mono', monospace;
    background-color: #778DA9;
}

.brand{
    font-size: 40px;
}

#welcome {
    margin-left: 0px;
    margin-top: 0px;
    padding: 20px 20px;
    font-size: 30px;
    font-family: 'Pacifico', cursive;
    background-color: #415A77;
    border-bottom: #0D1B2A solid 3px;
}
#welcome:hover{
    background-color:#0D1B2A;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.233), 0 4px 8px rgba(0, 0, 0, 0.185);
}
.title-word{
    animation: color-animation 4s linear infinite;
}
.title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }

.title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  .title-word-5 {
      --color-1: #DF8453;
      --color-2: #E4A9A8;
      --color-3: #3D8DAE;
  }
  
@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
/* 0D1B2A -dark blue
1B263B - less dark blue
415A77 -gray
778DA9 - neon green  */
/* E0E1DD */
/* #user-name {
  color: #E0E1DD;
} */

#user-pic {
  border-radius: 50%;
  border: solid black 2px;
  height: 80px;
  -webkit-animation:spin 16s linear infinite;
    -moz-animation:spin 16s linear infinite;
    animation:spin 16s linear infinite;
}
#user-pic:hover {
  border: dashed lightcoral 4px;
}

#dashboard {
  margin: 20px;
}
#album-cover {
  height: 200px;
  width: 200px;
  background-color: rgb(13, 27, 42);
}
#playlists {
  background-color: #E0E1DD;
  color: black;
  height: 1000px;
  overflow: scroll;
  border-radius: 5px;
}
#playlists:hover{
    box-shadow: 0 25px 35px rgba(255, 255, 255, 0.781), 0 8px 16px rgba(255, 255, 255, 0.52);
}

div#playlist-container h2 {
    text-align: center;
}
.playlist-card {
  margin: auto;
  height: 300px;
  width: 300px;
  background: white;
}
.playlist-card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.233), 0 4px 8px rgba(0, 0, 0, 0.185);
}
#playlist-tracks {
    margin-right: 5px;
    padding: 15px;
    height: 630px;
}
#playlist-tracks:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.233), 0 4px 8px rgba(0, 0, 0, 0.185);
}

#tracklist{
    height: 450px;
    overflow: scroll;
}

#record-player{
    padding: 10px;
    text-align: center;
}
#current-song-info{
    text-align: center;
}
div#playlists + h1 {
    font-size: 10px;
}
#playlist-name {
    font-size: 40px;
}
#currently-playing-lbl {
    font-size: 40px;
    text-align: center;
    margin: 20px 10px 30px 10px;
}
.playlist-item {
    font-size: 20px;
    margin: 8px 0px;
}
.playlist-item:hover{
    background-color: black;
    color: white;
}
.player-btn {
    color: black;
    margin: 5px;
}
#album-cover {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#track-btns {
  text-align: center;
  margin-bottom: 10px;
}
#current-track {
  background-color: white;
}
#current-track-metadata {
  /* background-color: black; */
  height: fit-content;
  /* color: white; */
}
.box-blb {
  text-align: center;
}
.row-section {
  background-color: #0D1B2A;
  color: white;
  border: black solid 3px;
  border-radius: 5px;
  margin-right: 5px;
  padding: 20px 10px;
}
.row-section:hover{
transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.233), 0 4px 8px rgba(0, 0, 0, 0.185);
}
#current-album-row {
    background-color: #0D1B2A;
    color: white;
}
#playlist-img {
    width: 400px;
    border-radius: 100%;
    -webkit-animation:spin 16s linear infinite;
    -moz-animation:spin 16s linear infinite;
    animation:spin 16s linear infinite;
}
#playlist-img:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.233), 0 4px 8px rgba(0, 0, 0, 0.185);
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

#cover-art {
    width: 200px;
    height: 200px;
    border: white solid 3px;
    box-shadow: 0 25px 35px rgba(255, 255, 255, 0.781), 0 8px 16px rgba(255, 255, 255, 0.52);
}
#cover-art:hover{
transform: scale(1.05);
}

.playlist-lbl{
    background-color: rgba(255, 255, 255, 0.774);
    color: black;
    font-size: 30px;
    padding: 5px;
    border-bottom: black solid 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.233), 0 4px 8px rgba(0, 0, 0, 0.185);

}
#current-playlist {
    border: 2px black solid;
    margin-right: 5px;
}

#play-pause{
    width: 60px;
    height: 50px;
    background-color: #E0E1DD;
}
#randomize{
    background-color: goldenrod;
    height: 35px;
}
#playlist-adder{
    background-color: goldenrod;
    height: 35px;
}
.player-btn{
    border-radius: 5px;
}
.player-btn:hover{
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.781), 0 2px 4px rgba(255, 255, 255, 0.52);
}