#welcome {
    margin-left: 20px;
    font-size: 50px;
}
#user-name {
  color: lightblue;
}
.user-info {
  font-size: 30px;
  font-family: "Sarina", cursive;
}
#user-pic {
  border-radius: 50%;
  border: solid black 2px;
  height: 80px;
}
#user-pic:hover {
  border: dashed lightcoral 4px;
}

#dashboard {
  margin: 20px;
}
#album-cover {
  height: 200px;
  width: 200px;
  background-color: lightgray;
}
#playlists {
  background-color: sandybrown;
  color: white;
  height: 1000px;
  overflow: scroll;
}

div#playlist-container h2 {
    text-align: center;
}
.playlist-card {
  margin: auto;
  height: 300px;
  width: 300px;
  background: white;
}

#current-song-info{
    text-align: center;
}
div#playlists + h1 {
    font-size: 10px;
}
#playlist-name {
    font-size: 40px;
}
#currently-playing-lbl {
    font-size: 40px;
    text-align: center;
    margin: 20px 10px 30px 10px;
}
.playlist-item {
    font-size: 25px;
}
.playlist-item:hover{
    background-color: black;
    color: white;
}
.player-btn {
    color: black;
    margin: 5px;
}
#album-cover {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#track-btns {
  text-align: center;
  margin-bottom: 10px;
}
#current-track {
  background-color: white;
}
#current-track-metadata {
  /* background-color: black; */
  height: fit-content;
  /* color: white; */
}
.box-blb {
  text-align: center;
}
.row-section {
  background-color: black;
  color: white;
  border: black solid 3px;
  border-radius: 3px;
  margin-right: 5px;
  padding: 20px 10px;
}
#current-album-row {
    background-color: black;
    color: white;
}
#playlist-img {
    width: 400px;
    border: solid black 4px;
    border-radius: 100%;
}

#cover-art {
    width: 200px;
    height: 200px;
    border: white solid 3px;
}

.playlist-lbl{
    background-color: rgba(255, 255, 255, 0.774);
    color: black;
    font-size: 30px;
    padding: 5px;
    border-bottom: black solid 3px;
}