#user-name {
  color: lightblue;
}
.user-info {
  font-size: 30px;
  font-family: "Sarina", cursive;
}
#user-pic {
  border-radius: 50%;
  border: solid black 2px;
  height: 60px;
}
#user-pic:hover {
  border: dashed lightcoral 4px;
}

#dashboard {
  margin: 20px;
}
#album-cover {
  height: 200px;
  width: 200px;
  background-color: lightgray;
}
#playlists {
  background-color: sandybrown;
  color: white;
  height: fit-content;
}
.playlist-card {
  margin: 5px;
  height: 200px;
  width: 200px;
  background: white;
}

#album-cover {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#track-btns {
  text-align: center;
  margin-bottom: 10px;
}
#current-track {
  background-color: white;
}
#current-track-metadata {
  background-color: black;
  height: 100%;
  color: white;
}
.box-blb {
  text-align: center;
}
.row-section {
  background-color: white;
  border: black solid 3px;
  border-radius: 3px;
  margin-right: 5px;
}
#playlist-img {
    width: 300px;
}
