body {
    font-family: 'Roboto Mono', monospace;
}

#welcome {
    margin-left: 20px;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
}
#user-name {
  color: lightblue;
}

#user-pic {
  border-radius: 50%;
  border: solid black 2px;
  height: 80px;
}
#user-pic:hover {
  border: dashed lightcoral 4px;
}

#dashboard {
  margin: 20px;
}
#album-cover {
  height: 200px;
  width: 200px;
  background-color: lightgray;
}
#playlists {
  background-color: sandybrown;
  color: white;
  height: 1000px;
  overflow: scroll;
}

div#playlist-container h2 {
    text-align: center;
}
.playlist-card {
  margin: auto;
  height: 300px;
  width: 300px;
  background: white;
}
#playlist-tracks {
    margin: 5px;
    padding: 5px;
}

#record-player{
    padding: 10px;
    text-align: center;
}
#current-song-info{
    text-align: center;
}
div#playlists + h1 {
    font-size: 10px;
}
#playlist-name {
    font-size: 40px;
}
#currently-playing-lbl {
    font-size: 40px;
    text-align: center;
    margin: 20px 10px 30px 10px;
}
.playlist-item {
    font-size: 15px;
}
.playlist-item:hover{
    background-color: black;
    color: white;
}
.player-btn {
    color: black;
    margin: 5px;
}
#album-cover {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
#track-btns {
  text-align: center;
  margin-bottom: 10px;
}
#current-track {
  background-color: white;
}
#current-track-metadata {
  /* background-color: black; */
  height: fit-content;
  /* color: white; */
}
.box-blb {
  text-align: center;
}
.row-section {
  background-color: black;
  color: white;
  border: black solid 3px;
  border-radius: 3px;
  margin-right: 5px;
  padding: 20px 10px;
}
#current-album-row {
    background-color: black;
    color: white;
}
#playlist-img {
    width: 400px;
    border-radius: 100%;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
#playlist-img:hover{
    animation:none;
}
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}

#cover-art {
    width: 200px;
    height: 200px;
    border: white solid 3px;
}

.playlist-lbl{
    background-color: rgba(255, 255, 255, 0.774);
    color: black;
    font-size: 30px;
    padding: 5px;
    border-bottom: black solid 3px;
}
#current-playlist {
    border: 2px black solid;
    margin-right: 5px;
}